.container_matched {
  margin: 0 2em;
  position: absolute;
  z-index: 1001;
  bottom: calc(var(--nav) + var(--vote) + 1rem);
  display: flex;
  flex-direction: row;
}

.container_matched_styling {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid var(--positive);
  background-color: var(--light);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5), 0px 7px 24px rgba(0, 0, 0, 0.25);
  z-index: 1002;
}
.matched_details {
  display: flex;
  flex-direction: column;
  z-index: 1004;
  margin: 1.5rem 1.5rem 1.5rem 0.5rem;
}

.matched_poster {
  height: 96px;
  min-width: 63px;
  background-color: gray;
  margin: 1.5rem;
  z-index: 1003;
  background-size: contain;
  background-repeat: no-repeat;
}

.matched_banner {
  padding: 0.3rem 1rem;
  background-color: var(--positive);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transform: skewX(-15deg);
  width: fit-content;
}

.matched_banner_large {
  position: absolute;
  margin: auto;
  top: calc(40% - var(--header) + 128px + 3rem);
  z-index: 1001;
  padding: 0.3rem 4rem;
  background-color: var(--positive);
  font-size: 5rem;
  font-weight: 600;
  border-radius: 0.75rem;
  width: fit-content;
}

.forceSkew {
  transform: skewX(15deg);
}

.matched_text {
  padding-top: 1em;
  flex-grow: 1;
}

.matched_text p {
  line-height: 2rem;
}

.matched_getdetailsbtn {
  text-align: right;
}

.matched_getdetailsbtn a {
  text-decoration: none;
  color: var(--highlight);
  letter-spacing: 0.5px;
  font-size: 1.8rem;
  font-weight: 600;
}
