* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: "Poppins", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
}
