.container {
  margin-top: 27px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
}
