.link {
  text-decoration: none;
  color: var(--dark);
  flex-grow: 1;
  width: 33%;
}

.container_nav {
  display: flex;
  z-index: 999;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--nav);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav_item {
  cursor: pointer;
  margin: 0.5em 1em;
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
}

.nav_item:hover,
.nav_item:active,
.nav_item:hover > .nav_icon,
.nav_item:active > .nav_icon {
  color: var(--highlight);
  fill: var(--highlight);
}

.active_link {
  color: var(--highlight);
  fill: var(--highlight);
}
