/* RESET */

html {
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: "Poppins", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
}

html,
body {
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
  background-color: var(--light);
  color: var(--dark);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: 2rem;
  line-height: 3rem;
}
h1 {
  font-size: 2.5em;
  font-weight: 600;
  padding: 2rem 0 2rem 2rem;
  color: var(--light);
  /* box-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039),
    0px 1.85px 6.25px rgba(0, 0, 0, 0.19); */
  background: linear-gradient(266.71deg, #29323c 11.43%, #485563 89.74%);
}

h2 {
  font-size: 2.1em;
  font-weight: 600;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heavy {
  font-weight: 600;
}

a {
  text-decoration: none;
}
:root {
  --header: 56px;
  --vote: 76px;
  --nav: 56px;
  --dark: #111111;
  --light: #ffffff;
  --gray: #e9e9e9;
  --highlight: #da0f3f;
  --bright: #f6c700;
  --positive: #11ee9e;
  --negative: #ff0f00;
  --transparent: rgba(0, 0, 0, 0);
  --poster-height: calc(
    var(--global-window-inner-height) - var(--header) - var(--vote) - var(--nav) -
      2rem
  );
  --poster-width: calc(var(--poster-height) * 0.65);
  /* below is for movie details I guess */
  --poster_height: 170px;
  --poster_width: calc(var(--poster_height) * 0.665);
  --border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.loader {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  border-top: 2px solid var(--highlight);
  border-right: 2px solid transparent;
  animation: loader 650ms linear infinite;
  z-index: 10;
  position: absolute;
}

.loader_center {
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  left: calc(50% - 75px);
  padding-top: 1.8rem;
  fill: linear-gradient(266.71deg, #29323c 11.43%, #485563 89.74%);
}

/* SMALL MODIFIERS */

.marginBottom2 {
  margin-bottom: 2rem;
}

.marginTop2 {
  margin-top: 2rem;
}

.marginTop6 {
  margin-top: 6rem;
}

.marginSides2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.listview_separator_full {
  height: 1rem;
  width: 100%;
  background-color: var(--gray);
}

/* override space between */
.ion-page {
  justify-content: unset;
}
