.card {
  height: 174px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  line-height: 150%;
  margin: 0 1rem;
}

.card h3 {
  margin: 1rem 0;
  font-size: 20px;
  line-height: 125%;
}

.center_card {
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
