.card {
  height: 174px;
  width: 174px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.center_card {
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
