.flex_row {
  display: flex;
  width: 100%;
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.flex_row_rating {
  display: flex;
  width: 100%;
}

.poster {
  height: 110px;
  width: 73px;
  margin: 0 2em 0 0;
}
