.flex_row {
  display: flex;
  width: 100%;
  padding: 2em;
  border-bottom: var(--border-bottom);
}

.matched {
  padding: 0.3em 1em;
  background-color: var(--positive);
  font-size: 1.3em;
  font-weight: 900;
  border-radius: 0.3em;
  transform: skewX(-15deg);
}

.forceSkew {
  transform: skewX(15deg);
}

.flex_row_rating {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0.75em;
}

.poster {
  height: 110px;
  width: 73px;
  margin: 0 2em 0 0;
}

.details_likedtitle {
  padding: 0 0 0.75em 0;
  font-weight: 900;
}

.details_tags {
  opacity: 0.7;
  letter-spacing: 0.5px;
}
