.container {
  display: flex;
  flex-direction: column;

  &:first-child {
    height: 287px;
    background: radial-gradient(
      40.14% 188.5% at 51.04% 19.16%,
      #485563 0%,
      #29323c 74.4%
    );
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
}

.card_grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: #da0f3f;
  border-radius: 60px;
  color: white;
  width: 287px;
  font-size: 20px;
  & + div {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.button:hover {
  background: rgb(230, 38, 83);
}

.button:active {
  background: rgb(161, 11, 46);
}

.get_it {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  width: 291px;
  font-size: 16px;
}

.get_it:hover {
  border-color: #6d6d6d;
  color: #6d6d6d;
}

.footer {
  margin-top: 130px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #a7a7a7;
}

.contact {
  cursor: pointer;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 150px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
}

.contact:hover {
  border-color: #6d6d6d;
  color: #6d6d6d;
}

.links {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}
