.container_filter {
  z-index: 1000;
  position: absolute;
  width: 90vw;
  height: calc(100vh);
  right: 0;
  background-color: var(--light);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2), 0px 10px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.filter_header {
  z-index: 5;
}

.types_list,
.genres_list {
  display: flex;
  flex-direction: column;
}

.streaming_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.types_list,
/* .genres_list, */
.streaming_list {
  padding: 0 0 0 1rem;
}

.container_subcontent {
  overflow-y: auto;
}

.container_btnSave {
  background-color: var(--light);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  border-top: 1px solid var(--gray);
  z-index: 6;
}

.btnSave {
  margin: 1rem 3rem;
}

.filterScroll {
  overflow-x: auto;
}
