.poster {
  height: 48px;
  width: 32px;
  margin: 0 2em 0 0;
}

.mylistmain {
  padding-bottom: var(--nav);
}

.container_mylist {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex_row {
  display: flex;
  padding: 2em;
  border-bottom: var(--border-bottom);
}
