.settings_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.container_friendsscreen {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.container_friends,
.container_pendinginvites {
  margin-bottom: 5rem;
}

.container_friendscontent {
  margin-bottom: 15rem;
}

.friends_title {
  margin: 2rem 2rem 4rem 2rem;
}

.title h2 {
  opacity: 0.5;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 1rem 0 1em 1em;
}

.container_invite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4rem;
}

.container_invite input {
  flex-grow: 1;
  margin-right: 2rem;
}

.error {
  margin: 1rem 4rem;
  color: #ff0000;
}

.success {
  margin: 1rem 4rem;
  color: #1a8e1a;
}
