/* VOTING */

.btn {
  height: 44px;
  border: 2px solid var(--dark);
  text-align: center;
  border-radius: 3px;
  color: #000000;
  cursor: pointer;
  margin: auto;
  line-height: 2.5em;
  font-weight: 900;
}

.btn_up,
.btn_down {
  background-color: var(--dark);
  min-width: 25%;
  padding-top: 1em;
}

.btn_up svg {
  fill: var(--positive);
}

.btn_down svg {
  fill: var(--negative);
}

.btn_up:active,
.btn_down:active {
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.btn_up:active svg,
.btn_down:active svg {
  fill: var(--dark);
}

.btn_details {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
}

.btn_details:active {
  border-color: var(--highlight);
  color: var(--highlight);
}

/* FILTER */

.btn_filter {
  margin: 1.5em;
  cursor: pointer;
  fill: var(--dark);
}

.btn_filter:active {
  fill: var(--highlight);
  color: var(--highlight);
}

/* CLOSE */

.btn_close {
  fill: var(--dark);
  position: absolute;
  right: 3em;
  top: 2.5em;
}

.btn_close:active {
  fill: var(--highlight);
}

/* STREAMING SERVICES */

.btn_streamingservice {
  border-radius: 3px;
  background-color: var(--light);
  width: 96px;
  height: 44px;
  margin: 1em 1em 1em 0;
  cursor: pointer;
}

.on {
  border: 2px solid var(--dark);
}

.off {
  border: 2px solid var(--transparent);
}

/* LIST VIEW */

.btn_listview {
  padding-left: 30px;
  font-size: 2em;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-bottom: var(--border-bottom);
  cursor: pointer;
}

.btn_listview:active {
  background-color: var(--gray);
}

/* CHECKBOX */

.checkbox {
  height: 48px;
  width: 100%;
  line-height: 48px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  margin-left: -16px;
  margin-top: 12px;
}

.checkbox label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 30px;
  font-size: 2em;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 20px;
  width: 20px;

  border: 2px solid;
  border-radius: 2px;
  left: 0px;
  top: 14px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 6px;
  top: 20px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: var(--highlight) auto 0px;
}
