.btn_streamingservice {
  border-radius: 3px;
  background-color: var(--light);
  width: 96px;
  height: 44px;
  margin: 1em 1em 1em 0;
  cursor: pointer;
}

.on {
  border: 2px solid var(--dark);
}

.off {
  border: 2px solid var(--transparent);
}
