.poster {
  position: fixed;
  transform: perspective (100px);
}

.poster > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster > div > div {
  will-change: transform;
  /* TODO: turn below back on */
  /* box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3); */
}
