.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
}

.firebaseUi {
  min-width: 250px;
}

.intro {
  padding-bottom: 2em;
}

.login_container h1 {
  padding-left: 0;
  padding-right: 0;
}
